<h1>New backup</h1>

<%= form_for @backup do |f| %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :host %>
  <%= f.text_field :host %>
</div>

<div>
  <%= f.label :path, "Directory on host" %>
  <%= f.text_field :path %>
</div>

<div>
  <%= f.label :filename_pattern %>
  <%= f.text_field :filename_pattern %>
</div>

<div>
  Schedule at
  <%= f.text_field :scheduled_hour, placeholder: '0-23' %>
  :
  <%= f.select :scheduled_minute, [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55] %>
</div>

<div>
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div>
  <%= f.label :password %>
  <%= f.text_field :password %>
</div>

<div>
  <button>Add this backup to the schedule</button>
</div>

<% end %>