<h1>Backup</h1>

<p>
  Name: <%= @backup.name %>
</p>

<p>
  Host: <%= @backup.host %>
</p>

<p>
  Path: <%= @backup.path %>
</p>

<p>
  Filename: <%= @backup.filename_pattern %>
</p>

<p><%= link_to "Fetch backup now", fetch_backup_path(@backup) %></p>